<nav>
  <ul>
    <li>
      <div class="nav-box"><a href="/">Dashboard</a></div>
    </li>
    <li>
      <div class="nav-box"><a href="#">Expenses</a></div>
    </li>
    <li>
      <div class="nav-box"><a href="#">Reports</a></div>
    </li>
    <li>
      <div class="nav-box"><a href="#">Compare</a></div>
    </li>
    <li>
      <div class="nav-box-addexp"><a href="#">Add Expenses</a></div>
    </li>
    <li>
      <div class="nav-box-profile"><a href="#">Profile</a></div>
    </li>
  </ul>
</nav>
